  *{
    box-sizing: border-box;
    font-size: 15px;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: hsl(0, 0%, 95%);
  }

  #card-container{
    display: flex;
    flex-direction: column;
    width: 335px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
  }

  #sedans, #suvs, #luxury{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #sedans{
    padding: 40px;
    background-color: hsl(31, 77%, 52%);
  }

  #suvs{
    padding: 40px;
    background-color: hsl(184, 100%, 22%);
  }

  #luxury{
    padding: 40px;
    background-color: hsl(179, 100%, 13%);
  }

  img{
    width: 23%;
    margin-bottom: 0px;
  }
  h2{
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: white;
    width: 35%;
  }
  p{
    font-family: 'Lexend Deca';
    font-weight: 400;
    margin-bottom: 30px;
    width: 90%;
    color: hsl(0, 0%, 100%, 0.75);
  }
  button{
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 1rem;
    padding: 13px;
    border-radius: 60px;
    width: 50%;
    border: inherit;
  }

  #sedans button{
    color: hsl(31, 77%, 52%);
  }
  #suvs button{
    color: hsl(184, 100%, 22%);
  }
  #luxury button{
    color: hsl(179, 100%, 13%);
  }

  button:hover{
    cursor: pointer;
    background-color: inherit;
    border: 1px solid white;
  }

  #sedans button:hover{
    color: white;
  }
  #suvs button:hover{
    color: white;
  }
  #luxury button:hover{
    color: white;
  }

  @media (min-width: 900px){

    #card-container{
        flex-direction: row;
        width: 940px;
    }

    #suvs p{
        width: 87%;
    }

    p{
        margin-bottom: 60px;
    }
  }